.stage {
    &__img {
        width: 100%;
        @media only screen and (max-width: 768px) {
            margin-bottom: 50px;
            transform: translateX(20%);
        }
    }

    &__text {
        font-size: 20px;
        margin-bottom: 20px;

        @media only screen and (min-width: 1200px) {
            margin-bottom: 50px;
        }
    }

    &__title {
        position: relative;
        margin-bottom: 60px;
        z-index: 10;

        @media only screen and (min-width: 1200px) {
            margin-bottom: 100px;
        }

        &.outline::after {
            content: " ";
            position: absolute;
            background-color: #fff;
            width: 150px;
            height: 150px;
            top: 50%;
            left: -75px;
            transform: translateY(-50%);
            border-radius: 100%;
            z-index: -1;

            @media only screen and (min-width: 425px) {
                background-color: white;
            }
        }

        &.full::after {
            content: " ";
            position: absolute;
            background-color: var(--color-blue);
            width: 150px;
            height: 150px;
            top: 50%;
            left: -75px;
            transform: translateY(-50%);
            border-radius: 100%;
            z-index: -1;
        }
    }

    .btn--box {
        display: flex;
        justify-content: flex-end;
    }
}
